*{
    background-color: rgb(0, 0, 0);
    color:yellowgreen;
  
}

#heading{
    color: red;
}

.header{
    display:flex;
    justify-content: space-between;
    /* border: 1px solid yellowgreen; */
    align-items: center;
    
}

.nav-items > ul {
    display: flex;
    padding: 0px 20px;
    font-size: 25px;
   
}

.nav-items > ul > li {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.res-card{
    border: solid 1px yellowgreen;
    width: 200px;
    height: 470px;
    border-radius: 56px;
    padding: 49px 25px;
    margin: 10px 10px;
    

} 

.res-card > p.res-cuisine{
  font-size: 12px;
}

.res-card > h4.res-rating{
    font-size: 12px;
    font-weight: bold;
    padding: 5px 5px;
}

.res-card > h4.res-timing{
    font-size: 11px;
    font-weight: bold;
    padding: 20px 15px;
}

.search-container{
    display: flex;
    justify-content: center;
    margin: 10px 0px; 
}

.res-card:hover{
    border-color:red;
    width: 220px;
    height: 470px;
    cursor: pointer;
    
}

.res-card > img:hover{
    width: 100%;
    height: 200px;
    border-radius: 56px;
    cursor: pointer;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
    border-radius:  18px;
    border: solid skyblue 10px;
    background-color: skyblue;
    color: black;
   
}

.filter{
    display: flex;
    justify-content: center;
}

.filter-btn:hover{
    background-color: red;
    color: yellowgreen;
    border: solid red 10px;
}